body {
  font-family: 'IBM Plex Serif', serif; /* Ustawienie domyślnej czcionki dla całego dokumentu */
}

.font{
  text-align: justify;
  font-family: 'IBM Plex Serif', serif;
}

.left {
  flex: 1;
}

.right {
  flex: 1;
}

.grid {
  margin-top: 12vh;
  display: flex;
  justify-content: space-between;
  gap: 4vw;
}

.grid-box img {
  filter: grayscale(1);
  background-color: rgba(73, 73, 73, 0);
  padding: 4px;
  max-width: 16%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.645); 
  transition: filter 0.2s, box-shadow 0.6s ease;
}

.left .grid-box img{
  max-width:50%;
  padding: 44px;
}

.grid-box img:hover {
  filter: none;
  box-shadow: 4px 4px 28px rgba(80, 80, 80, 0.28); 
}

.grid-box .images {
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left .grid-box .images{
  flex-direction: column;
  align-items:start;
  width: 100%;
  gap: 12px;
}

@media (max-width: 768px) {
  .grid {
    flex-direction: column;
    padding: 8px;
  }
}

@media (min-width: 768px) {
  .right {
    margin-top: 10vh;
  }
}
