body {
  font-family: "JetBrains Mono", serif;
  text-align: justify;
}

.font {
  text-align: justify;
  font-family: "IBM Plex Serif", serif;
}

.left {
  flex: 1;
}

.right {
  flex: 1;
}

.grid {
  display: flex;
  justify-content: space-between;
  gap: 5vw;
}

.grid-box img {
  filter: grayscale(1);
  background-color: rgba(73, 73, 73, 0);
  padding: 4px;
  max-width: 16%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.645);
  transition: filter 0.2s, box-shadow 0.6s ease;
}

.left .grid-box img {
  max-width: 50%;
  padding: 32px 80px 32px 80px;
}

.grid-box img:hover {
  filter: none;
  box-shadow: 4px 4px 28px rgba(80, 80, 80, 0.28);
}

.grid-box .images {
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left .grid-box .images {
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap: 12px;
}


@media (max-width: 768px) {
  .grid {
    flex-direction: column;
    padding: 0px;
  }

  .grid-box .images {
    justify-content: space-between;
    align-items: center;
    margin: 0px;
  }

  .left .grid-box img {
    padding: 6vh 18vw;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .right {
    margin-top: 60px;
  }
}
