body {
  background-color: #121212;
  font-family: 'IBM Plex Serif', serif;
  color: #C4A484
}

h1, h2 {
  font-family: 'Playfair Display', serif;
}

code {
  font-family: 'JetBrains Mono', monospace;
}