* {
  box-sizing: border-box;
}



h3{
  font-family: 'Bungee Hairline', monospace, serif;
  font-size: 2rem;
  letter-spacing: 2px;
}

code {
  font-family: 'Bungee Hairline','JetBrains Mono', monospace;
}

@media (max-width: 768px) {

  h1{
    text-align: center;
    font-size: 10vw;
  }
  h2, h3 {
    text-align: center;
    font-size: 9vw;
    overflow: hidden;
  }

  
}

.container {
  max-width: 1200px;
  padding: 28px 40px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 20px;
    max-width: 100%;
  }
  #root {
    max-width: 100%;
    display: flex;
    align-items: center;
  }
}


/* _____________________________________________________________ */
/* Hello World */
.hello-world {
  height: 200px;
  letter-spacing: 5px;
  justify-content: center;
  text-align: center;
}


@media (max-width: 768px) {
  .hello-world {
    height: 28vh;
    letter-spacing: 0px;
    font-size: small;
  }

  .grid {
    margin-top: 2vh;
  }

  h1 {
    margin-top: 4vh;
  }
}
